.mobile-menu-line {
	padding: 15px 0;
	font-family: 'SF Pro Display-Semibold';
	font-size: 18px;
	background: #F0F0F4;
	width: 100%;
	white-space: nowrap;
	overflow-x: scroll;
	scrollbar-width: none;  //hide scroll for firefox
	&::-webkit-scrollbar {	
		display: none;
	}
	&__item {
		display: inline-block;
		margin-right: 30px;
	}

	
}

