.search {
	&__tabs {
		display: flex;
		padding-bottom: 25px;
		white-space: nowrap;
		overflow-x: scroll;
		scrollbar-width: none;  //hide scroll for firefox
		&::-webkit-scrollbar {	
			display: none;
		}
	}
	&__tabs-item {
		font-size: 16px;
		display: block;
		padding: 15px 26px;
		border-radius: 3px;
	}
	&__tabs-item.tab--active {
		background: #F0F0F4;
		text-shadow: 0 0 .1px black;
	}
	&__content {
		display: flex;
	}
}

.search-content {
	&__item {
		display: none;
		width: 100%;
	}
	&__item.tabs-content--active {
		display: block;
	}
	&__form {
		display: flex;
		position: relative;
	}
	&__input {
		width: 100%;
		background: #F0F0F4;
		padding: 18px;
		border-radius: 3px;
		font-size: 14px;
		&::placeholder {
			color: #656464;
		}
		&:focus {
			outline: 1px solid #CDCDCD;
		}
	}
	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		border-top-right-radius: 3px;
    	border-bottom-right-radius: 3px;
		font-size: 14px;
		text-transform: uppercase;
		color: white;
		background: #1C62CD;
		background-repeat: 3px;
		padding: 0px 40px;
		letter-spacing: 0.12em;
		margin-left: -3px;
	}
}

